@tailwind base;
@tailwind components;
@tailwind utilities;

 .light {
    --bg-primary: #ffffff;
    --text-primary: #000000;
  }
  
  .dark {
    --bg-primary: #1a1a1a;
    --text-primary: #ffffff;
  }

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
  
}
